@import "../../scss/var";

page {
  background-color: $color-background;
}

.banner-container {
  margin-top: 30rpx;
  overflow: hidden;
  border-radius: $border-radius;

  image {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
  }
}

.notice-container {
  margin-top: 30rpx;
  padding: 20rpx;
  border-radius: $border-radius;
  box-sizing: border-box;
  background-color: #fff;

  .notice-header {
    margin-bottom: 10rpx;
    padding-bottom: 10rpx;
    border-bottom: 1px solid $color-border;
  }
}
