$color-theme: #1890ff;

$color-background: #EEF0F6;

$color-text: #303133;
$color-sub-text: #606266;
$color-tips-text: #909399;
$color-placeholder: #C0C4CC;

$font-size-small: 24rpx;
$font-size-base: 28rpx;
$font-size-large: 30rpx;

$color-border: #F2F6FC;

$box-shadow: 0 0 20px rgba(0,0,0,.1);

$border-radius: 4px;

// 多行文字显示省略号
@mixin ellipsisMultiline($number: 1) {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
}
